@media screen and (max-width: 1060px) {
  .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav-btn>label {
    display: inline-block;
    height: 50px;
    padding: 13px;
    width: 50px;
  }

  .nav-btn>label>span {
    border-top: 2px solid #eee;
    display: block;
    height: 10px;
    width: 25px;
  }

  .nav-links {
    background-color: rgb(156, 69, 69);
    display: block;
    font-family: "Montserrat", sans-serif;
    height: 0;
    left: 0;
    overflow-y: hidden;
    position: absolute;
    top: 50px;
    transition: all 0.3s ease-in;
    width: 100%;
  }

  .nav-links>ul>li {
    display: block;
    padding-right: 80px;
    width: 100%;
  }

  #nav-check:not(:checked)~.nav-links {
    height: 0;
  }

  #nav-check:checked~.nav-links {
    height: calc(60vh - 180px);
    overflow-y: auto;
  }

}
@media screen and (min-width: 1061px) and (max-width: 1230px) {
  .nav-links>ul>li {
    font-size: 13px;
    margin-left: 18px;
    margin-right: 18px;
  }
}
